{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .programs{
    text-align: center;
    align-items: center;
    padding: 2rem;
  }
</style>

<!-- Main Section -->
<main class="home">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>CONNECT WITH <span>DEVELOPERS</span></h2>
          <h2>FROM AROUND THE WORLD</h2>
        </div>

        
      </div>
    </section>

    <section class="programs">
      <div class="container programs__container">
        <div class="programs-left">
          <h3>Your Gateway to<br>Quality Developers</h3>
          <br>
          <p>
            <h5>Find the right developer for your projects<br>and take your ideas to the next level.</h5>
          </p>
          <br>
          <a href="/about" class="btn">Learn More</a>
        </div>
        
      </div>
    </section>
    <br>

    
   

   
  </main>
{% endblock content %}
