{% load static %}

<style>
  /* =====footer-start=====*/
  footer {
    background: #2d2d39;
    padding-top: 5rem;
    font-size: 1.5rem;
    color: #fff;
  }

  .footer__container {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }

  .footer__container > div h4 {
    margin-bottom: 1.2rem;
  }

  .footer__1 p {
    margin: 1rem 0 2rem;
  }

  .footer__3 p {
    margin: 1rem 0 1.3rem;
  }

  .footer__3 p:hover {
    color: #fff;
  }

  .footer__3 a:hover {
    font-size: 1.2rem;
  }

  footer ul li {
    list-style-type: none;
    margin-bottom: 0.7rem;
  }

  .footer__links li a:hover {
    font-size: 1.8rem;
  }

  .footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
   
  }
</style>
<footer class="footer">
  <div class="container footer__container">
    <a href="{% url 'profile-page' %}" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />
      </a>

    <div class="footer__2">
      <h4>Quick Links</h4>
      <ul class="footer__links">
        <li>
          <a href="/" style="text-decoration: none; color: #fff">Developers</a>
        </li>
        <li>
          <a href="/" style="text-decoration: none; color: #fff">Projects</a>
        </li>
        <li>
            <a href="/" style="text-decoration: none; color: #fff">About</a>
        </li>
        <li>
          <a href="{% url 'contact-us-page' %}" style="text-decoration: none; color: #fff">Contact</a>
        </li>
       
      </ul>
    </div>

    <div class="footer__3">
      <h4>Contact Us</h4>
      <div>
        <p>+91 9359396569</p>
        <p>devsearch@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <small>Copyright @ 2022  <span> devsearch</span></small>
  </div>
</footer>
